/* svg {
  transform-origin: center;
  transform: scaleX(-1);
}

.path-style {
  stroke-width: 7px;
  stroke-linecap: round;
  /* transform: rotate(90deg); */
  /* transform-origin: center; */
  /* transition: 1s linear all;
  fill-rule: nonzero;
  stroke: red;
} */ 

svg {
  transform: rotate(-90deg);
}

circle {
  position: absolute;
  fill: none;
  stroke-width: 30;
  transition: 1s linear all;
}

.seconds {
  stroke: #bf2f2f;
  color: #bf2f2f;
}
.minutes {
  stroke: #bf852f;
  color: #bf852f;
}
.hours {
  stroke: #a2bf2f;
  color: #a2bf2f;
}
.day {
  stroke: #4cbf2f;
  color: #4cbf2f;
}
.month {
  stroke: #2f69bf;
  color: #2f69bf;
}