circle {
  position: absolute;
  fill: none !important;
  stroke-width: 30;
  transition: 1s ease all;
}

.clock {
  transform-origin: center;
}

.seconds {
  stroke: #bf2f2f;
  color: #bf2f2f;
}
.minutes {
  stroke: #bf852f;
  color: #bf852f;
}
.hours {
  stroke: #a2bf2f;
  color: #a2bf2f;
}
.day {
  stroke: #4cbf2f;
  color: #4cbf2f;
}
.month {
  stroke: #2f69bf;
  color: #2f69bf;
}

text {
  transform-origin: center;
  text-anchor: middle;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  visibility: visible;
}

.white-text {
  stroke: white;
  fill: white;
}

text .seconds {
  fill: #bf2f2f;
}
text .minutes {
  fill: #bf852f;

}
text .hours {
  fill: #a2bf2f;
}
text .day {
  fill: #4cbf2f;
}
text .month {
  fill: #2f69bf;
}

.blink {
  animation: blink-animation 2s steps(1) infinite;
  fill: white;
  stroke: white;
  visibility: visible;
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}